
.navbar {
  background-color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: 14px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

#dropdown01 {
  color: #ffffff;
}

.navbar .navbar-brand {
  padding-top: 4px;
  padding-bottom: 4px;
}

.navbar .logo-image img {
  float: left;
    width: 162px;
  height: 161px;
  
}

.navbar .logo-text {
  color: #222222;
  font-weight: 700;
  font-size: 30px;
 
  text-decoration: none;
}

.navbar .navbar-nav {
  margin-top: 12px;
  margin-bottom: 8px;
}

.navbar .nav-item .nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #5e6576;
  text-decoration: none;

}



footer {



background: #324D7B;
}

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  font-size: 20px;
}

.navbar .btn-solid-sm {
  border-color: #6168ff;
  background-color: #6168ff;
}

.navbar .btn-solid-sm:hover {
  background-color: transparent;
  color: #6168ff;
}




#dura {
  margin-top:180px;
  font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
}




.team {
  margin-top:50px;
}

.team1 {
  margin-top:120px;
}


.reflection1 {
  margin-top:200px;
}

.reflection2 {
  margin-bottom:200px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;


}

.popup__content {
  background-color: #fff;
  color:#000;
  max-width: 800px;
    padding: 30px;
    position: relative;

}

.popup__text {

}
 
 .popup__title {
  font-size: 20px;
  margin: 0 0 1em 0;

 }


 .popup__close {
  position: absolute;
    right: 10px;
    top:10px;
    font-size: 20px;
    text-decoration: none;
    color:#000;

 }


 .popup1 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup1:target{
  opacity: 1;
  visibility: visible;
}

.popup2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup2:target{
  opacity: 1;
  visibility: visible;
}


.popup3 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup3:target{
  opacity: 1;
  visibility: visible;
}


.popup4 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup4:target{
  opacity: 1;
  visibility: visible;
}


.popup5 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup5:target{
  opacity: 1;
  visibility: visible;
}


.popup6 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup6:target{
  opacity: 1;
  visibility: visible;
}


.popup7 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup7:target{
  opacity: 1;
  visibility: visible;
}


.popup8 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup8:target{
  opacity: 1;
  visibility: visible;
}


.popup9 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
    visibility: hidden;
}
.popup9:target{
  opacity: 1;
  visibility: visible;
}


.carousel-item {
  height: 800px;

}


.carousel-item img {
height: 800px;
}


.popi {
  margin-bottom: 120px;
}